---
layout: default
title: 周凡君の个人站
---

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-1 minus-height front-page-left">
			<ul class="nav nav-tabs nav-justified">
				<li class="active catalog-font"><a href="#Blog" data-toggle="tab">Blog</a></li>
				<li class="catalog-font"><a href="#Archives" data-toggle="tab">Archives</a></li>
				<li class="catalog-font"><a href="#Projects" data-toggle="tab">Projects</a></li>
			</ul>

			<div class="tab-content pane-spacing">
				<div class="tab-pane fade in active" id="Blog">
					{% for post in paginator.posts %}
						<div class="panel panel-info">
							<div class="panel-heading"><div>{{ post.title }}</div></div>
							<a href="{{ post.url }}"><div class="panel-body">{{ post.description }}</div></a>
						</div>
						
					{% endfor %}

					<!-- Pagination links -->
					{% if paginator.total_pages > 1 %}
						
						<ul class="pagination pagination-sm">	
						  {% if paginator.previous_page %}
						    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
						  {% else %}
						    <li class="disabled"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
						  {% endif %}

						  {% for page in (1..paginator.total_pages) %}
						    {% if page == paginator.page %}
						      <li class="active"><a href="#">{{ page }} <span class="sr-only"></span></a></li>
						    {% elsif page == 1 %}
						      <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
						    {% else %}
						      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
						    {% endif %}
						  {% endfor %}

						  {% if paginator.next_page %}
						    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
						  {% else %}
						    <li class="disabledx"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
						  {% endif %}
						</ul>
						
					{% endif %}
					
				</div>
				<div class="tab-pane fade" id="Archives">
					{% for post in site.posts %}       

						 {% unless post.next %}
			                <h3>{{ post.date | date: '%Y' }}</h3>
			            {% else %}
			                {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			                {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			                {% if year != nyear %}
			                    <h3 class="">{{ post.date | date: '%Y' }}</h3>
			                {% endif %}
			            {% endunless %}

			            <div class="line">
			            	<div class="line-left"><a href="{{ post.url }}">{{ post.title }}</a></div>
			            	<div class="line-right"><span>{{ post.date | date: '%m 月 %d 日' }}</span></div>
			            </div>
			            
			            <br>
			            
			        {% endfor %}
				</div>
				<div class="tab-pane fade" id="Projects">

					
				</div>
			</div>

		</div>
		
		{% include introduction.html %}
		
	</div>

</div>