{% assign logo = '<img class="avatar-logo" src="http://zhoufan.qiniudn.com/goodboy.jpg" alt="zhoufan.org" />' %}
{% assign me = '<img src="http://zhoufan.qiniudn.com/me_hover.png" alt="me" />' %}

<div class="col-md-1 col-md-offset-1 hidden-xs hidden-sm front-page-right" data-spy="affix">
	<div id="menu">
		<ul id="menu-list">
			<li class="avatar"><a href="http://zhoufan.org">{{ logo }}</a></li>
			<li class="blog"><a href="http://zhoufan.org">BLOG</a></li>
			<li class="projects"><a href="">PDF</a></li>
			<li class="resume print"><a href="">PRINT</a></li>
			<button type="button" onclick="window.print()" class="printer">打印</button>
		</ul>
	</div>	
	
	<a class="contactme" href="http://zhoufan.org">BACK</a>
</div>