---
layout: default
title: 周凡君の个人简历
---
{% assign avatar = '<img src="http://zhoufan.qiniudn.com/CB62A541-9363-4599-A498-B2D99A4957F8.png" alt="周凡" />' %}
<div class="container" >
	<div class="row row-resume">

		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-3 resume-page">
			
			<avatar>
				<div >
					{{ avatar }}
				</div>

				<div class="name">
					{{ site.data.resume.name }}
				</div>

			</avatar>

			<basicinfo>
				<div>
					<div class="basicinfo-left">
						<div class="basicinfo-up"><i class="fa fa-male"></i> {{ site.data.resume.birthday }}</div>
						<div class="basicinfo-down"><i class="fa fa-users"></i> Unmarried</div>
					</div>
					<div class="basicinfo-middle">
						<div class="basicinfo-up"><i class="fa fa-map-marker"></i> {{ site.data.resume.location }}</div>
						<div class="basicinfo-down"><i class="fa fa-github-square"></i> zhoufan2013</div>
					</div>
					<div class="basicinfo-right">
						<div class="basicinfo-up"><i class="fa fa-phone-square"></i> {{ site.data.resume.phone }}</div>
						<div class="basicinfo-down"><i class="fa fa-envelope"></i> {{ site.data.resume.email }}</div>
					</div>
				</div>				
			</basicinfo>

			<experiences>
				<div class="delimiter-left"></div>
				<div class="delimiter-middle">EXPERIENCES</div>
				<div class="delimiter-right"></div>
			</experiences>

	        <ul class="timeline">
	        	{% for experience in site.data.experiences %}
					
					{% if experience.flag %}

						<li>
			                <div class="timeline-panel">
		                		<div class="timeline-panel-date">
		                			<div class="clearfix">
		                				<timeline-year>{{ experience.year }}</timeline-year>
		                				<timeline-date>{{ experience.date }}</timeline-date>
		                			</div>
		                		</div>
		                		<div class="timeline-panel-body">
		                			<div class="timeline-heading">
				                        <h4 class="timeline-title">{{ experience.title }}</h4>
				                    </div>
				                    <div class="timeline-body">
				                        <p>{{ experience.description }}</p>
				                    </div>
		                		</div>
			                </div>
			            </li>

					{% else %}
						
						<li class="timeline-inverted">
		            		<div class="timeline-panel">
		            			<div class="timeline-panel-date-inverted">
				            		<div class="clearfix">
		                				<timeline-year>{{ experience.year }}</timeline-year>
		                				<timeline-date>{{ experience.date }}</timeline-date>
		                			</div>
				            	</div>
				            	<div class="timeline-panel-body-inverted">
				                    <div class="timeline-heading">
				                        <h4 class="timeline-title">{{ experience.title }}</h4>
				                    </div>
				                    <div class="timeline-body">
				                        <p>{{ experience.description }}</p>
				                    </div>
				                </div> 
			                </div>
			            </li>

					{% endif %}

				{% endfor %}

	        </ul>

	        <profession>
				<div class="delimiter-left"></div>
				<div class="delimiter-middle">SKILLS</div>
				<div class="delimiter-right"></div>
			</profession>

	        <skills>
	        	<div class="skills-left">
	        		<div class="skills-item">
	        			<div class="skills-name">Java</div>
	        			<div class="progress progress-striped skills-progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
						    <span class="sr-only">85% Complete</span>
						  </div>
						</div>
	        		</div>
	        		<div class="skills-item">
	        			<div class="skills-name">PHP</div>
	        			<div class="progress progress-striped skills-progress">
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
						    <span class="sr-only">40% Complete</span>
						  </div>
						</div>
	        		</div>
	        		<div class="skills-item">
	        			<div class="skills-name">Shell</div>
	        			<div class="progress progress-striped skills-progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
						    <span class="sr-only">50% Complete</span>
						  </div>
						</div>
	        		</div>
	        		<div class="skills-item">
	        			<div class="skills-name">jQuery</div>
	        			<div class="progress progress-striped skills-progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						    <span class="sr-only">60% Complete</span>
						  </div>
						</div>
	        		</div>
	        	</div>
	        	<div class="skills-right">
	        		<div class="skills-item">
	        			<div class="skills-name">Oracle</div>
	        			<div class="progress progress-striped skills-progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
						    <span class="sr-only">70% Complete</span>
						  </div>
						</div>
	        		</div>
	        		<div class="skills-item">
	        			<div class="skills-name">MySQL</div>
	        			<div class="progress progress-striped skills-progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
						    <span class="sr-only">50% Complete</span>
						  </div>
						</div>
	        		</div>
	        		<div class="skills-item">
	        			<div class="skills-name">JavaScript</div>
	        			<div class="progress progress-striped skills-progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
						    <span class="sr-only">70% Complete</span>
						  </div>
						</div>
	        		</div>
	        		<div class="skills-item">
	        			<div class="skills-name">CSS</div>
	        			<div class="progress progress-striped skills-progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						    <span class="sr-only">80% Complete</span>
						  </div>
						</div>
	        		</div>
	        	</div>
	        </skills>

	        <social>
				<div class="delimiter-left"></div>
				<div class="delimiter-middle">SOCIAL</div>
				<div class="delimiter-right"></div>
			</social>

			<socialinfo>
				<div class="contact-left">
					<div class="contact-item">
        				<div class="contact-brand"><i class="fa fa-github"></i></div>
                    	<div class="contact-address"><a href=""> {{ site.data.resume.github }}</a></div>
	        		</div>
	        		<div class="contact-item">
        				<div class="contact-brand"><i class="fa fa-linkedin-square"></i></div>
                    	<div class="contact-address"><a href=""> {{ site.data.resume.linkedin }}</a></div>
	        		</div>
	        		
	        	</div>
	        	<div class="contact-right">
	        		<div class="contact-item">
        				<div class="contact-brand"><i class="fa fa-weibo"></i></div>
                    	<div class="contact-address"><a href=""> @{{ site.data.resume.weibo }}</a></div>
	        		</div>
	        		<div class="contact-item">
        				<div class="contact-brand"><i class="fa fa-twitter"></i></div>
                    	<div class="contact-address"><a href=""> @{{ site.data.resume.twitter }}</a></div>
	        		</div>
	        	</div>
			</socialinfo>


		</div>
		
		{% include resume-guide.html %}
		
	</div>

</div>