---
layout: default
---
{% assign logo = '<img class="avatar-logo" src="http://zhoufan.qiniudn.com/goodboy.jpg" alt="zhoufan.org" />' %}

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<div class="container">
	<div class="row">
		<div class="col-md-7 col-md-offset-1 minus-height front-page-left">
			
	        <div class="post-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></div>
	        <p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>
	        <br><br>
	        {{ content }}

		</div>
		{% include introduction.html %}
		
	</div>

</div>
