---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<div class="container">
	<div class="row">
		<div class="col-md-7 col-md-offset-1 minus-height front-page-left">
			
	        <div class="post-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></div>
	        <p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>
	        <br><br>
	        {{ content }}

		</div>
		{% assign logo = '<img class="avatar-logo" src="http://zhoufan.qiniudn.com/goodboy.jpg" alt="zhoufan.org" />' %}
		{% assign LinedInlogo =  %}
		<div class="col-md-3 col-md-offset-1 minus-height front-page-right">
			<div>
				{{ logo }}  <span class="zhoufan-name">周凡</span>
			</div>
			<hr>
			<p class="introduction">
				I’m ZhouFan, a coder working for AsiaInfo-Linkage. You can find me on a variety of web sites listed blow.
				<br>
				I live in & ♥ Nanjing. 
			</p>
			<hr>
			<div>
				<p class="view">
					<a href="http://weibo.com/zhoufan2011" title="Weibo">Weibo<br><small>A good way to contact</small></a>
				</p>
				<p class="view">
					<a href="https://github.com/zhoufan2013" title="GitHub">GitHub<br><small>If coding is your thing</small></a>
				</p>
				<p class="view">
					<a href="http://cn.linkedin.com/pub/zhou-fan/54/4aa/238/" title="LinkedIn">LinkedIn<br><small>Profession</small></a>
				</p>
				<p class="view">
					<a href="mailto:scholes17@gmail.com" title="Gmail">Gmail<br><small>Email me</small></a>
				</p>
			</div>
			
		</div>
	</div>

</div>
